.hidden {
  visibility: hidden;
}

.popup_burger__list {
  list-style: none;
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 50% auto;
}

.popup_burger__list li {
  margin-bottom: 30px;
}

.popup_burger__list li a {
  color: #000;
}

.popup_burger__list li a:hover {
  cursor: url(../images/cursor/piano.cur), auto;
  opacity: 0.6;
}

.popup_burger__list li:active {
  opacity: 0.6;
  cursor: pointer;
}

.popup_burger__button-close {
  background-image: url(../images/icon/popup-close.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -34px;
  left: 344px;
}

.popup_burger__button-close:hover {
  cursor: url(../images/cursor/piano.cur), auto;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup_burger__container {
    width: 300px;
    height: 460px;
  }

  .popup_burger__list {
    font-size: 28px;
  }

  .popup_burger__button-close {
    width: 26px;
    height: 26px;
    top: -36px;
    left: 310px;
  }
}

@media screen and (max-width: 520px) {
  .popup_burger__container {
    width: 210px;
    height: 400px;
  }

  .popup_burger__list {
    font-size: 24px;
  }

  .popup_burger__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    left: 310px;
    top: -28px;
    left: 218px;
  }
}
